rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Only authenticated users can access the storage
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
    
    // Profile pictures can only be read by anyone (for display in the app)
    // but can only be written/deleted by the owner of the picture.
    match /profilePictures/{userId} {
      allow read: if true;
      allow write, delete: if request.auth.uid == userId;
    }
  }
}
