rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Permite acesso público aos arquivos na pasta /public, se você tiver uma.
    match /public/{allPaths=**} {
      allow read;
    }

    // Protege as fotos de perfil
    match /profilePictures/{userId} {
      // READ: Apenas o dono do perfil pode ler sua própria foto.
      // Firebase usa tokens de download que já garantem acesso, mas esta regra adiciona uma camada extra.
      allow get: if request.auth != null && request.auth.uid == userId;
      
      // WRITE: Apenas o dono do perfil pode criar ou atualizar sua própria foto.
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
